*.class
*.jar
*.DS_STORE
target/
.vscode/
thesis/*
thesis/images/*
!thesis/thesis.tex
!thesis/thesis.pdf
!thesis/thesisreport.pdf
!thesis/elteikthesis.*
!thesis/images/
!thesis/text/
!src/test/
!src/test/java/com/zoltanbalazs/Own/*.class
!thesis/images/elte_cimer_szines.eps
!thesis/images/jabyinja_memory.png
!thesis/images/testing_results.png
!thesis/images/jabyinja_diagram_parsing.png
!thesis/images/jabyinja_diagram_execute.png
!thesis/defense/
thesis/defense/*
!thesis/defense/thesisdefense.tex
!thesis/defense/thesisdefense.pdf
!thesis/defense/extra.txt