*.class
*.jar
target/
test/
.vscode/
thesis/*
thesis/images/*
!thesis/thesis.tex
!thesis/thesis.pdf
!thesis/elteikthesis.*
!thesis/images/
!thesis/text/
!src/test/
!src/test/java/com/zoltanbalazs/Own/*.class
!thesis/images/elte_cimer_szines.eps